{% extends 'layout.html' %}

{% load static %}

{% block title %}
   All Playlists
{% endblock %}

{% block content %}
    <div>
        <h1 class="sticky">{{ playlist.name }} </h1>
        <p>View all <a href="/playlist">playlists</a></p>
    </div>

    <div id="composer" 
        hx-get = "{% url 'music:playlist_composer' playlist.pk %}"
        hx-trigger="load"
        hx-swap="innerHTML">
    </div>

    {% comment %}  

    <div class="playlist-container">
        <div class="playlist-album">
            <div class="playlist-album-frame">
                {% with first=playlist.items.0 %}
                    {% if first %}
                        {% with album=first.track.albums.all.0  %}
                            {% if album %}
                                <img src="{{ album.cover.url }}" alt="{{ album.name }} cover" > 
                            {% endif %}
                        {% endwith %}
                    {% endif  %}
                {% endwith %}
            </div>
        </div>
        <div class="track-card">
            <ul>                
                {% for item in playlist.items %}
                    <li class="track-list">
                        <div class="track-list-name">
                            {{ item.position }}. {{ item.track.title }}
                            - {% for a in item.track.artists.all %}

                                {{a.name}}
                                
                                {% if not forloop.last%},{% endif %} 
                            {% endfor %}
                        </div>           
                        <div class="track-list-audio">
                                <audio controls>
                                <source src={{item.track.audio.url}} type="audio/mpeg" >
                                Your browser does not support the audio element
                                </audio>
                        </div>
                    </li>
                {%  endfor %}
            </ul>
        </div>
    </div>
    {% endcomment %}
{% endblock content %}
