* {
    margin: 0;  
    padding: 0;
    box-sizing:border-box;
}

:root {
    /* colors */    
    --clr-light: #adb9a7; 
    --clr-dark: #30343f;  
    --clr-primary: #03256C;
    --clr-paragraph: #edeaf7;/*#434345;*/
    --clr-accent: #cb793a; /* #8c86aa; */    
    /*--clr-banner: #a7b4a1;*/
    
    --clr-header: #adb9a7; /*#34542b;*/
    --clr-headings: var(--clr-primary);
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
    /*--foreground: var(--clr-dark);
    --background: var(--clr-light);*/
    --clr-anchor:  #d4e4bc;
    
    /* fonts */
    --heading1-font: 'Lobster', sans-serif;
    --heading2-font: "IM Fell Double Pica SC", serif;
    --heading-font: "IM Fell DW Pica", serif;
    --paragraph-font: 'Poppins', sans-serif;    
}

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;    
    font-size: 0.8rem;
    width: 100%;
    Display: block;
    padding: 0.5rem;    
    background-color: var(--background);
}

header {
    background-color: var(--clr-header);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigation {    
    display: flex;
}

.navigation ul {
    display:flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navigation li {
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 1.25rem;
}

.nav-links {
    color: var(--clr-dark);
    padding: 1.5rem;
    font-size: 1.1rem;
}

h1 {
    font-family: var(--heading1-font);
    color: var(--clr-light);
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: var(--clr-headings);
    font-family: var(--heading2-font);
}

h3, h4, h5, h6 {
    color:var(--clr-headings);
    font-family: var(--heading-font);    
}

p {
    color: var(--clr-paragraph);
    padding: 1.1rem; 
    /* change in large view? */
}

a {
    text-decoration: none;
    color: var(--clr-anchor);
}
/* -----------Navigation------------*/


.active {    
    background-color: var(--background);
	color: var(--foreground);
  }


/*---------Carousel---------------*/
.carousel {
    display: flex;
    align-items: flex-start;
    /* width: 100%;  */
    overflow-x: auto;
    margin: 2em auto;
    display: flex;
    gap: .9em;
    padding-inline: 1rem;
    scroll-behavior: smooth;

}

.card {    
    /* max-width: 100%; */
    /* aspect-ratio: 1 / 1; */       
    background-color: var(--clr-anchor);
    padding: 1em;
    border-radius: 0.6em;
    text-align: center;
    align-content: center;    
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 0 0 clamp(320px, 22vw, 360px)
}

.card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.card ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.card p {
    color: var(--clr-primary)
}


/* ---------Playlist Page----------------*/
.playlist-name {
    color: var(--clr-primary);
    font: var(--heading2-font);
}

/*---------Playlist View Page------------*/

.playlist-album {
    background-color: var(--clr-anchor);
    padding: 1em;
    border-radius: 0.6em;
    /* text-align: center; */
    /* align-content: center;     */
    display: flex;
    /* flex-direction: column; */
}

.track-card {
    /* opacity: 0.5; */
    /* background-color: var(--clr-light); */
    padding: 3rem;
       
}
.track-card ul {
    list-style: none;
}

.track-card li {
    color: var(--clr-dark);
    /* opacity: 0.75; */
    background-color: var(--clr-accent);
    padding: 3rem;
    font-size: large;
    font-weight: 700;
    margin: 10px; 
}

/* .track-list-audio {
   
} */
/* ------------About Page----------------*/
.attribute img {
    width: 15%;
    height: 15%;
    object-fit: contain;
}



/* ------------------footer---------------------- */

footer {
    display: block;
    background-color: var(--clr-header);
    /* width: 100%; */
}

footer p {
    color: var(--clr-light)
}


/*________________Mobile view*/
@media(max-width: 500px) {
    .card {
        flex: 0 0 100%;
    }

    /* small view navigation */
    /* .navigation {
        border-bottom: .5rem solid var(--clr-paragraph); 
    } */

    .navigation ul {
        list-style: none;
        display: flex;
        padding: 2.5rem 1rem;        
        flex-direction: column;
    }

    .navigation ul li {
        flex: 1 1 100%;
    }

    .navigation a {
        display: none;
        padding: .5rem;
        font-weight: 400;
        font-size: .9rem;
       
        text-align: center;    
    }

    .navigation a:hover {
        background-color: var(--clr-light);
        
        font-weight: 700;
    }       
        
    
    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(0,0,0,.3);
        padding: 3px 7px 6px;
        background-color: var(--background);
        color: var(--foreground);
        position: absolute;
        top: 0.5rem;
        right: 0;
        z-index: 1;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "✖";
    }



    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }


}