{% extends 'layout.html' %}

{% load static %}

{% block title %}
    About
{% endblock %}

{% block content %}
{% comment %} <img src="{% static 'img/whatever.png' %}">? {% endcomment %}
    <h1>About The Project</h1>
    <div class="attribute">
        <img src="{% static 'img/jair-medina-nossa--7Kkov230I0-unsplash_1.webp' %}" 
            alt="girl listening to music" width="400", height="400">
        <p>Photo by 
            <a href="https://unsplash.com/@jmedinanossa?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jair Medina Nossa</a>
            on <a href="https://unsplash.com/photos/a-woman-with-her-eyes-closed-holding-a-phone-to-her-ear--7Kkov230I0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>
    <div class="attribute">
        <img src="{% static 'img/hazel-z-W_lXhs-q-sI-unsplash.webp' %}" 
            alt="green headphones" width="400" height="260">
        <p>
            Photo by <a href="https://unsplash.com/@hazelz?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Hazel Z</a>
            on <a href="https://unsplash.com/photos/a-pair-of-headphones-floating-in-the-air-W_lXhs-q-sI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>      
        </p>
    </div>


    

{% endblock content %}
