{% extends 'layout.html' %}

{% block title %}
    Music Library
{% endblock %}

{% block content %}

    <h1>Music Library</h1>
    <p>Check out my <a href="/playlist">playlists</a></p>
    
    {% comment %} Every album instance gets a reverse manager named tracks {% endcomment %}
    {% comment %} {% for album in albums %}
        <p> {{ album.name }} </p>
        <ul>
            {% for track in album.tracks.all %}
                <li> {{ track.title }} </li>

        </ul>
    {% endfor %}}  {% endcomment %}

    {% comment %} this prints each track, with album name underneath {% endcomment %}
    <div class="carousel">
    {% for track in tracks %}    
        <div class="card">            
            <ul>
                {% for album in track.albums.all %}
                    <img src="{{album.cover.url}}" alt="{{ album.name }} cover">
                    {% comment %} <li> {{ album.name }} </li> {% endcomment %}
                    <audio controls>
                        <source src={{track.audio.url}} type="audio/mpeg" >
                        Your browser does not support the audio element
                    </audio>
                {% endfor %}
            </ul> 
            <h3> {{ track.title }} </h3>

            <ul>
                {% for artist in track.artists.all %}
                    <li> {{ artist.name}} </li>

                {% endfor %}
            </ul>
        </div>
    {% endfor %} 
    </div>
    
    



{% comment %} <h2>{{ album.name }}</h2>
<img src="{{ album.cover.url }}" alt="{{ album.name }}">

<ol>
  {% for track in album.tracks.all %}
    <li>
      {{ track.title }}
      — {% for ar in track.artists.all %}{{ ar.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
      <audio controls src="{{ track.audio.url }}"></audio>
    </li>
  {% empty %}
    <li>No tracks yet.</li>
  {% endfor %}
</ol> {% endcomment %}

{% endblock content %}
