{% extends 'layout.html' %}

{% block title %}
    Music Library
{% endblock %}

{% block content %}

    <h1>Music Library</h1>   

    {% comment %} this prints each track, with album name underneath {% endcomment %}
    <div class="carousel">
    {% for track in tracks %}    
        <div class="card">            
            <div>
            <ul>
                {% for album in track.albums.all %}
                    <div class="card-image">
                        <img src="{{album.cover.url}}" alt="{{ album.name }} cover">
                    </div>                   
                    <div class="card-audio">
                        <audio controls>
                            <source src={{track.audio.url}} type="audio/mpeg" >
                            Your browser does not support the audio element
                        </audio>
                    </div>    
                {% endfor %}
            </ul>
            </div> 
<div>
            <h3> {{ track.title }} </h3>

            <ul>
                {% for artist in track.artists.all %}
                    <li> {{ artist.name}} </li>

                {% endfor %}
            </ul>
            </div>            
        </div>
    {% endfor %} 
    </div>

{% endblock content %}
