{% extends 'layout.html' %}

{% block title %}
    Music Library
{% endblock %}

{% block content %}

    <h1>Music Library</h1>
    <p>Check out my <a href="/playlist">playlist</a> page</p>
    
    {% comment %} Every album instance gets a reverse manager named tracks {% endcomment %}
    {% comment %} {% for album in albums %}
        <p> {{ album.name }} </p>
        <ul>
            {% for track in album.tracks.all %}
                <li> {{ track.title }} </li>

        </ul>
    {% endfor %}}  {% endcomment %}

    {% comment %} this prints each track, with album name underneath {% endcomment %}
    {% for track in tracks %}
        
        <ul>
            {% for album in track.albums.all %}
                <img src="{{album.cover.url}}" alt="{{ album.name }} cover">
                <li> {{ album.name }} </li>

            {% endfor %}
        </ul>
        <p> {{ track.title }} </p>
        <ul>
            {% for artist in track.artists.all %}
                <li> {{ artist.name}} </li>

            {% endfor %}
        </ul>

    {% endfor %}



{% endblock content %}
