<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%  block title %}
            Music Player App
        {%  endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/navigation.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+Double+Pica+SC&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <header>          
        <div class="header-icon">
            <img src="{% static 'img/hazel-z-W_lXhs-q-sI-unsplash.webp' %}" 
                alt="green headphones" width="400" height="260">
        </div>
        <button id="menu" aria-label="navigation menu"></button>    
        <nav class="navigation">    
            <ul>
                <li><a href="/" class="nav-links {% if request.path == '/' %}active{% endif %}">
                    <span aria-label="Library">Library</span>
                </a></li>
                <li><a href="/about" class="nav-links {% if request.path == '/about/' %}active{% endif %}">
                    <span aria-label="About">About</span>
                </a></li>
                {% if user.is_authenticated %}
                    <li><a href="/playlist" class="nav-links {% if request.path == '/playlist/' %}active{% endif %}">
                        <span aria-label="Playlists">Playlists</span>
                    </a></li>
                    <li><a href="/users/update_user" class="nav-links {% if request.path == '/users/update_user/' %}active{% endif %}">
                        <span aria-label="Update User Profile">Update Me</span>
                    </a></li>
                    <li>
                        <form class="logout" action={% url 'users:logout' %} method="post">
                            {% csrf_token %}
                            <button class="logout-button" aria-label="User Logout">Log Out</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="/users/register/" class="nav-links {% if request.path == '/users/register/' %}active{% endif %}">
                        <span aria-label="User Registration">Register</span>
                    </a></li>
                    <li><a href="/users/login/" class="nav-links {% if request.path == '/users/login/' %}active{% endif %}">
                        <span aria-label="User Login">Log In</span>
                    </a></li>
                {% endif %}                
            <ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>